.marquee {
  height: 50px;
  position: relative;
  background: #b4b4b4;
  color: black;
  margin: 0;
  overflow: hidden;
}

.marquee div {
  height: 100%;
  width: 200px;
  padding-left: 50px;
  position: absolute;
  background-color: #313131;
  color: white;
  z-index: 10;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light";
}

.marquee div::after {
  content: "";
  position: absolute;
  margin: auto;
  top: 15px;
  left: 20px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: red;
}

.marquee p {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light";
  width: 290%;
  height: 100%;
  margin-left: 0;
  line-height: 50px;
  text-align: left;
  /* Starting position */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  /* Apply animation to this element */
  -moz-animation: scroll-left 15s linear infinite;
  -webkit-animation: scroll-left 15s linear infinite;
  animation: scroll-left 50s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes scroll-left {
  0% {
    -moz-transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
  }
}
@-webkit-keyframes scroll-left {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}
@keyframes scroll-left {
  0% {
    -moz-transform: translateX(100%); /* Browser bug fix */
    -webkit-transform: translateX(100%); /* Browser bug fix */
    transform: translateX(40%);
  }
  100% {
    -moz-transform: translateX(-100%); /* Browser bug fix */
    -webkit-transform: translateX(-100%); /* Browser bug fix */
    transform: translateX(-100%);
  }
}

.marquee p:hover {
  -moz-animation-play-state: paused;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

.livefeed-text {
  font-size: 1.2vw;
}
